<div class="ui secondary menu">
    <a href="{{ path('home') }}"><img id="logo" src="/img/job.png" alt="job"></a>
    <div class="right menu">
        <a class="item" href="{{ path('home') }}">Home</a>
        <a class="item" href="{{ path('addJob') }}">Add Job</a>
        <a class="item" href="{{ path('list') }}">View Jobs</a>
        <a class="item" href="{{ path('register') }}">Register</a>
        <a class="item" href="{{ path('login') }}">Login</a>
    </div>
</div>

