{% extends 'base.html.twig' %}

{% block title %}Hello ApplicationController!{% endblock %}

{% block body %}
    {% include 'partials/userNavbar.html.twig' %}
    <div id="job">
        <div class="ui segment">
            <div class="ui form">
                {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
                {% for field in form.children %}
                    {% if field.vars.name != '_token' %}
                        <div class="field">
                            <p>{{ job.title }}</p>
                            <p>{{ job.description }}</p>
                            <p>{{ job.Qualification }}</p>
                            <p>{{ job.salary }}</p>
                            <label>{{ form_label(field) }}</label>
                            {{ form_widget(field) }}
                            {{ form_errors(field) }}
                        </div>
                    {% endif %}
                {% endfor %}

                <button class="ui primary button apply" id="btnApply" type="submit">Submit Application</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% include 'partials/footer.html.twig' %}
{% endblock %}
