{% extends 'base.html.twig' %}

{% block title %}Job Details{% endblock %}

{% block body %}
    {% include 'partials/userNavbar.html.twig' %}

    <div id="viewDetails">
        <div class="ui card" style="width: 60%;">
            <div class="content">
                <div class="ui items">
                    <div class="item">
                        <div class="ui medium image">
                            <img src="{{ asset('images/' ~ data.image) }}">
                        </div>
                        <div class="content" style="padding: 1rem;">
                            <p class="header">Title: {{ data.title }}</p>
                            <div class="meta">
                                <p class="header">Description: {{ data.description }}</p>
                                <p class="header">Qualification: {{ data.qualification }}</p>
                                <p class="header">Salary(Rs): {{ data.salary }}</p>
                                <p class="header">Deadline Date: {{ data.deadlineDate|date("m/d/Y") }}</p>
                            </div>
                            <a href="{{ path('application', {id:data.id}) }}"><button class="ui blue button" id="apply" type="submit">Apply
                            </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/footer.html.twig' %}
{% endblock %}
